<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Javascript Format Action Set"
            visible="true"
            id="wxji.format.js.actionSet">
         <!--<menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>-->
         <action
               label="&amp;Sample Action"
               icon="icons/format.png"
               class="wxji.format.js.actions.FormatAction"
               tooltip="Javascript Format"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="wxji.format.js.actions.FormatAction">
         </action>
      </actionSet>
   </extension>

</plugin>
